<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
     <script src="https://kit.fontawesome.com/f1def33959.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="inner">
            <div class="header-container">
             <div class="header-logo"><a href="/templates/index.html"><img src="../static/img/logo.png" alt="logo" class="logo"></a></div>
             <nav class="header-list"> 
                 <ul class= "nav-links">
                 <li><a href="/templates/calender.html">캘린더</a></li>
                 <li><a href="/templates/login.html">로그인</a></li>
                 <li><a href="/templates/register.html">회원가입</a></li>
             </ul>
             </nav>
            </div>
        </div>        
     </header>
     <section>
         <div class="user-inner">
         <!-- 네모 박스 데이트  -->
         <div class="calender-container">
            <div class="clicked-date">
                <div class="today-check"> 
                <div class="date-day">
                <div class="cdr-date"></div>
                <div class="cdr-day"></div>
                </div>
                <div class="feeling-container">
                    <div class="feeling-input">
                        <div class="feeling-title">오늘의 기분은?</div>
                        <div class="feeling-input">
                        </div>
                          <input type="text" placeholder="오늘의 기분을 적어주세요" id="input-box" class="input-box">
                          <button type="button" id="input-data" class="input-data">남기기</button>
                          <div id="input-list" class="input-list"></div>
                        </div>
                      </div>
                    </div>
            <!-- 달력  -->
            <div class="calender-box">
                <div class="cdr-box">
                    <button title="prev" class="cdr-btn prev fas fa-angle-left"></button>
                    <span class="cdr-year"></span>
                    <span class="cdr-month"></span>
                    <button title="next" class="cdr-btn next fas fa-angle-right"></button>
                </div>
            <table class="cdr-table">
                <thead>
                    <tr>
                        <th>일</th>
                        <th>월</th>
                        <th>화</th>
                        <th>수</th>
                        <th>목</th>
                        <th>금</th>
                        <th>토</th>
                    </tr>
                </thead>
                <tbody class="cdr-body"></tbody>
            </table>
          </div>
         </div>
        </div>
     </section>
     <script src="/static/js/calender.js"></script>
</body>
</html>