<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의 기분</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="inner">
            <div class="header-container">
             <div class="header-logo"><a href="/templates/index.html"><img src="../static/img/logo.png" alt="logo" class="logo"></a></div>
             <nav class="header-list"> 
                 <ul class= "nav-links">
                 <li><a href="">캘린더</a></li>
                 <li><a href="/templates/login.html">로그인</a></li>
                 <li><a href="/templates/register.html">회원가입</a></li>
             </ul>
             </nav>
            </div>
        </div>       
     </header>
     <section>
         <div class="user-inner">
             <div class="emotion-container">
                <div class="emotion-title">웃음꽃이 활~활~활</div>
                <div class="emotion-image"><img src="../static/img/짜증나.jpg" alt=""></div>
                <div class="emotion-hash">#감사하는#편안한#만족한#신나는</div>
                <div class="emotion-content">
                    saojdajaoidaiosdoaisdijoasdjaosdjoasdjioasdjoasdjaodjaiosdjiaosdja
                    aosjdoiasdjioasdjioasdjiasojdaosjoaisjioasjdaosjdaiosjioasoasjd
                    adiuasdniasdjioasjdoiasdjioasdjasodajdasijoiasjdioasdj
                </div>
             </div>
             
         </div>
        
     </section>
     <!-- 공유하기 -->
     <section>

     </section>


</body>
</html>