<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>Teachable Machine Image Model</div>
    <button type="button" onclick="init()">Start</button>
    <button type="button" onclick="predict()" >image check</button>
    <input  type="file" onchange = "readURL(this)" accept="image/png, image/jpeg"/>
    <img id="face-image"class="blah" src="#" alt="">
    <div id="webcam-container"></div>
    <div id="label-container"></div>
    <div class="push-result"></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
            $('.blah').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
            }
            }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
    <script type="text/javascript">
        // More API functions here:
        // https://github.com/googlecreativelab/teachablemachine-community/tree/master/libraries/image
    
        // the link to your model provided by Teachable Machine export panel
        const URL = "https://teachablemachine.withgoogle.com/models/-7usysJ4X/";
    
        let model, webcam, labelContainer, maxPredictions;
    
        // Load the image model and setup the webcam
        async function init() {
            const modelURL = URL + "model.json";
            const metadataURL = URL + "metadata.json";
    
            // load the model and metadata
            // Refer to tmImage.loadFromFiles() in the API to support files from a file picker
            // or files from your local hard drive
            // Note: the pose library adds "tmImage" object to your window (window.tmImage)
            model = await tmImage.load(modelURL, metadataURL);
            maxPredictions = model.getTotalClasses();
            labelContainer = document.getElementById("label-container");
            for (let i = 0; i < maxPredictions; i++) { // and class labels
                labelContainer.appendChild(document.createElement("div"));
            }
        }
    
        // run the webcam image through the image model
        async function predict() {
            // predict can take in an image, video or canvas html element
            let image = document.querySelector("#face-image")
            const prediction = await model.predict(image, false);
            prediction.sort((a,b) => parseFloat(b.probability) - parseFloat(a.probability));
            console.log(prediction[0].className);
            let resultTitle, resultExplain, resultCause,resultSol;

        switch(prediction[0].className) {
            case "happy" :
            resultTitle = "happy"
            resultExplain = "explain"
            resultCause = "cause"
            resultSol = "sol"
            break;

            case "uneasy" :
            resultTitle = "uneasy"
            resultExplain = "explain"
            resultCause = "cause"
            resultSol = "sol"
            break;

            case "angry" :
            resultTitle = "angry"
            resultExplain = "explain"
            resultCause = "cause"
            resultSol = "sol"
            break;

            case "sad" :
            resultTitle = "sad"
            resultExplain = "explain"
            resultCause = "cause"
            resultSol = "sol"
            break;

            case "panic" :
            resultTitle = "panic"
            resultExplain = "explain"
            resultCause = "cause"
            resultSol = "sol"
            break;

            case "hurted" :
            resultTitle = "hurted"
            resultExplain = "explain"
            resultCause = "cause"
            resultSol = "sol"
            break;
        }
        
        let title = `<div class= '${prediction[0].className}-feeling-title'> ${resultTitle}</div>`;
        let explain = `<div class='${prediction[0].className}-explain'> ${resultExplain}</div>`;
        let cause = `<div class ='${prediction[0].className}-cause'> ${resultCause}</dlv>`;
        let sol = `<div class ='${prediction[0].className}-sol'> ${resultSol}</div>`;
        let pushResult = document.querySelector('.push-result');
        $('.push-result').html(title + explain + cause + sol);
        console.log(prediction[0].className, resultTitle)
        let barWidth;
        for (let i = 0; i < maxPredictions; i++) {
            if(prediction[i].probability.toFixed(2) > 0.1) {
                barWidth = Math.round(prediction[i].probability.toFixed(2) * 100 + "%")
            } else if (prediction[i].probability.toFixed(2) >= 0.01) {
                barWidth = "4%"
            }else {
                barWidth= "2%"
            }

            let labelTitle;
            switch (prediction[i].className) { 
                case "happy":
                labelTitle = "행복"
                break;

                case "uneasy":
                labelTitle = "불행"
                break;

                case "angry":
                labelTitle = "분노"
                break;

                case "sad":
                labelTitle = "슬픔"
                break;

                case "panic":
                labelTitle = "당황"
                break;

                case "hurted":
                labelTitle = "상처"
                break;
            }
            
            let label = `<div class ='feeling-label'> ${labelTitle} </div>`
            let bar = `<div class ='bar-container><div class='${prediction[i].className}-box'></div><div class='align-center ${prediction[i].className}-bar' style='width:${barWidth}'><span class ='percent-text'>${Math.round(prediction[i].probability.toFixed(2) * 100)}%</span></div></div>`;
            labelContainer.childNodes[i].innerHTML = label;


        }

    }
    </script>
    
</body>
</html>