<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/f1def33959.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
       <div class="inner">
           <div class="header-container">
            <div class="header-logo"><a href=""><img src="../static/img/logo.png" alt="logo" class="logo"></a></div>
            <nav class="header-list"> 
                <ul>
                <li><a href="/templates/calender.html">캘린더</a></li>
                <li><a href="/templates/login.html">로그인</a></li>
                <li><a href="/templates/register.html">회원가입</a></li>
            </ul>
            </nav>
           </div>
       </div>
                  
    </header>
    <section>
        <div class="inner">
            <div class="face-upload">
                <div class="face-image"><a href=""><img src="../static/img/hand.png" alt="click"></a></div>
                <div class="face-text">오늘 하루 어땠나요? 표정으로 맞춰볼게요</div>
            </div>
        </div>
    </section>
    <section>
        <div class="inner">
            <div class="content-container">
                <div class="content-title">지금 내 기부니가 이래</div>
                <div class="content-list">
                    <ul class="emotion-list">
                        <li class="emotion-card">
                            <a href="../templates/emotion.html">
                            <div class="emotion-image"><img src="../static/img/행복해.jpg" alt="happy"></div>
                            <div class="emotion-desc">행복해</div>
                            </a>
                            <li class="emotion-card">
                                <a href="/">
                                <div class="emotion-image"><img src="../static/img/불안해.jpg" alt=""></div>
                                <div class="emotion-desc">불안해</div>
                                </a>
                            </li>
                            <li class="emotion-card">
                                <a href="/">
                                <div class="emotion-image"><img src="../static/img/짜증나.jpg" alt=""></div>
                                <div class="emotion-desc">짜증나</div>
                                </a>
                            </li>
                            <li class="emotion-card">
                                <a href="/">
                                <div class="emotion-image"><img src="../static/img/슬프네.jpg" alt=""></div>
                                <div class="emotion-desc">슬프네</div>
                                </a>
                            </li>
                            <li class="emotion-card">
                                <a href="/">
                                <div class="emotion-image"><img src="../static/img/당황했어.jpg" alt=""></div>
                                <div class="emotion-desc">당황했어</div>
                                </a>
                            </li>
                            <li class="emotion-card">
                                <a href="/">
                                <div class="emotion-image"><img src="../static/img/상처였어.jpg" alt=""></div>
                                <div class="emotion-desc">상처였어</div>
                                </a>
                            </li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <a id="backtotop"></a>
    </footer>
    <script src="../static/js/backtotop.js"></script>
</body>
</html>