<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="inner">
            <div class="header-container">
             <div class="header-logo"><a href="../templates/index.html"><img src="../static/img/logo.png" alt="logo" class="logo"></a>
            </div>
            </div>
        </div>
     </header>

     <section> 
        <div class="user-inner">
            <div class="login-container">
                <div class="login-title">로그인</div>
            </div>
        </div>

     </section>

    <section class="login-form">
        <div class="user-inner">
            <form action="/">
            <div class="info-title">닉네임</div>
            <input type="text" name="id" class="id" placeholder="&nbsp 닉네임을 입력해주세요">
            <div class="info-title">비밀번호</div>
            <input type="password" name=pw class="pw" placeholder="&nbsp 비밀번호를 입력해주세요">
            </form>
                <div class="info-list">
                    <ul>
                        <li><a href=""><u>비밀번호를 잊으셨나요?</u></a></li>
                        <li><a href=""><u>회원가입 하러가기</u></a></li>
                    </ul>
                </div>
                <div class="login-session">
                <button class="login-btn btn-style">로그인</button>
                <div class="or-line-stoke"></div>
                <button class="kakao-btn btn-style">카카오로 시작하기</button>
                <button class="google-btn btn-style">구글로 시작하기</button>
                </div>
        </div>
    </section>
</body>
</html>